/* \!/ solid red */
blockquote {

  border-left: 19px solid red;
  padding-left: 20px;
}


/* Can be applied to blocks of content */
p.callout {
  margin: 10px;
  border: 1px solid #f5f5f5;
  background-color: #eee;
}

/* Can be applied to inline content */
span.big-blue-text {
  font-size: 2rem;
  color: blue;
}

/* Applied to content, excluded from style dropdown */
h2 {
  font-family: cursive;
}

/* Excluded from style dropdown, used as center class described below */
.center-this-text {
  text-align: center;
}
