{% comment %}Based on Minima{% endcomment %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- seo -%}

    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">

    {%- feed_meta -%}

    {%- include google-analytics.html -%}
</head>
